.language-selector {
    -fx-background-color: #2196F3;
    -fx-text-fill: white;
    -fx-pref-width: 120px;
    -fx-max-height: 30px;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-padding: 2px;
    -fx-margin: 10px;
    -fx-cursor: hand;
}

.language-selector .list-cell {
    -fx-text-fill: white;
    -fx-background-color: transparent;
    -fx-padding: 2px 5px;
    -fx-font-size: 12px;
}

.language-selector .list-cell:hover {
    -fx-background-color: #1976D2;
}

.language-selector .arrow {
    -fx-background-color: white;
}

.language-selector .list-view {
    -fx-background-color: #2196F3;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
}

.language-selector .list-view .list-cell {
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.language-selector .list-view .list-cell:hover {
    -fx-background-color: #1976D2;
}

.language-selector:hover {
    -fx-background-color: #1976D2;
}

.language-selector-container {
    -fx-padding: 10px 10px 0 0;
    -fx-alignment: center-right;
}